h1 Welome to Discover Me

p This app will use nmap and a node module
  | to perform a a vulnerabilty scan on your
  | localhost and local network.

div
  a(href='/scan', alt='Scan Computer') Scan
div
  a(href='/discover', alt='Discovery Scan') Discover
