<md-content>
  <md-button ng-click="discover()" class="md-primary"> Discover Neighbors </md-button>
</md-content>

<md-content layout="column">

  <md-card layout="row" ng-repeat="host in discoveryResults.upHosts">
    <md-card-content layout="column">
      {{host}}
      <md-button class="md-button" aria-label="Custom Icon Button">
        <md-icon md-svg-src="vendor/bower_components/material-design-icons/action/svg/production/ic_visibility_24px.svg"></md-icon>
        SCAN HOST
      </md-button>
    </md-card-content>

    <md-card-content layout="column">
      {{port}}
    </md-card-content>

    <md-card-content>
      {{service}}
    </md-card-content>

  </md-card>

</md-content>
