<md-content layout="row" layout-xs="column" layout-align="space-between center">
  <div layout="row" layout-align="start center">
    <md-button ng-click="discover()" class="md-primary">Discover Neighbors</md-button>
    <md-progress-circular md-mode="indeterminate" ng-show="isDiscovering"></md-progress-circular>
  </div>
  <md-button class="md-primary md-raised" aria-label="Save scan" ng-click="saveScan()" ng-disabled="isDiscovering || recentSave">Save Scan</md-button>
</md-content>

<md-content layout="column">

  <md-card layout="row" layout-xs="column" ng-repeat="(host, data) in discoveryResults">

    <md-card-content layout="column" layout-xs="row" layout-align-xs="start center">
      <div layout="column">
        <div>{{host}}</div>
        <div>{{discoveryResults[host].hostname}}</div>
      </div>
      <md-button class="md-primary" felx aria-label="Scan host {{host}}" host="{{host}}" ng-click="scanHost($event)" ng-hide="discoveryResults[host].loading">
        <md-icon md-svg-src="vendor/bower_components/material-design-icons/action/svg/production/ic_visibility_24px.svg"></md-icon>
        SCAN HOST
      </md-button>
      <md-progress-circular md-mode="indeterminate" ng-show="discoveryResults[host].loading"></md-progress-circular>
    </md-card-content>

    <div layout="row" layout-align="space-between center">
      <md-card-content layout="column" flex ng-show="data.scanStatus !== 'SUCCESS'">
        <div>{{discoveryResults[host].scanStatus}}</div>
      </md-card-content>

      <md-card-content layout="column" ng-show="data.ports.length > 0">
        <div>PORT</div>
        <div ng-repeat="port in data.ports">
          <div>{{port.portid}}</div>
        </div>
      </md-card-content>

      <md-card-content layout="column" ng-show="data.ports.length > 0">
        <div>PROTOCOL</div>
        <div ng-repeat="port in data.ports">
          <div>{{port.protocol}}</div>
        </div>
      </md-card-content>

      <md-card-content layout="column" ng-show="data.ports.length > 0">
        <div>SERVICE</div>
        <div ng-repeat="port in data.ports">
          <div>{{port.serviceName}}</div>
        </div>
      </md-card-content>
    </div>

  </md-card>

</md-content>
